{% for buble in chat %}
    {% if author != buble.register_id %}
      <div class="media media-chat">
        <div class="ident">
          <span class="usr_name">{{ buble.register_name }}</span>
          <img class="avatar" src="{{ asset('assets/img/common/person.png') }}" alt="...">
        </div>
        <div class="media-body {% if buble.delete_at != null %}has_been_deleted{% endif %}">
          {% if buble.chat_class == 1 %}
            <p class="msg">{{ buble.chat_string }}</p>
          {% else %}
            <img class="avatar open_popup_des" src="{{ asset('assets/img/common/file.png') }}" alt="...">
            <span class="file_name open_popup_des text-center">
              {{ buble.file_name_origin }}
              {% if buble.delete_at != null%}
                <br><span class="was-deleted">（削除済み）</span>
              {% else %}
                <ul class="popup-action d-none">
                  <li class="act-preview" data-id="{{ buble.id }}">閲覧</li>
                  <li class="act-download" data-id="{{ buble.id }}">ダウンロード</li>
                </ul>
              {% endif %}
            </span>
          {% endif %}
          <p class="meta"><time>{{ buble.create_date |date('Y/m/d H:i') }}</time></p>
        </div>
      </div>
    {% else %}
      <div class="media media-chat media-chat-reverse">
        <div class="media-body {% if buble.delete_at != null %}has_been_deleted{% endif %}">
          {% if buble.chat_class == 1 %}
            <p class="msg">{{ buble.chat_string }}</p>
          {% else %}
            <span class="file_name open_popup_self text-center" >
              {{ buble.file_name_origin }}
              {% if buble.delete_at != null%}
                <br><span class="was-deleted">（削除済み）</span>
              {% else %}
                <ul class="popup-action d-none">
                  {% if buble.file_name | ext  %}
                    <li class="act-preview" data-id="{{ buble.id }}">閲覧</li>
                    <li class="act-download" data-id="{{ buble.id }}">ダウンロード</li>
                  {% endif %}
                  <li class="act-delete" data-id="{{ buble.id }}" >削除</li>
                </ul>
              {% endif %}
            </span>
            <img class="avatar open_popup_self" src="{{ asset('assets/img/common/file.png') }}" alt="...">
          {% endif %}
          <p class="meta"><time>{{ buble.create_date |date('Y/m/d H:i') }}</time></p>
        </div>
      </div>
    {% endif %}
{% endfor %}

