{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set mypageno = 'messenger' %}

{% set body_class = 'mypage' %}
{% block stylesheet %}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
  <style>
      .ec-mypageRole img{
          width: unset;
      }
      .card-bordered {
          border: 1px solid #ebebeb;
      }

      .card {
          border: 0;
          border-radius: 0px;
          margin-bottom: 30px;
          -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.03);
          box-shadow: 0 2px 3px rgba(0,0,0,0.03);
          -webkit-transition: .5s;
          transition: .5s;
      }

      .padding {
          padding: 3rem !important
      }

      body {
          background-color: #f9f9fa
      }

      .card-header:first-child {
          border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
      }


      .card-header {
          display: -webkit-box;
          display: flex;
          -webkit-box-pack: justify;
          justify-content: flex-start;
          -webkit-box-align: center;
          align-items: center;
          padding: 15px 0px;
          background-color: transparent;
          border-bottom: 1px solid rgba(77,82,89,0.07);
      }

      .card-header .card-title {
          padding: 0;
          border: none;
      }

      h4.card-title {
          font-size: 17px;
      }

      .card-header>*:last-child {
          margin-right: 0;
      }

      .card-header>* {
          margin-left: 0px;
          margin-right: 8px;
      }

      .btn-secondary {
          color: #4d5259 !important;
          background-color: #e4e7ea;
          border-color: #e4e7ea;
          color: #fff;
      }

      .btn-xs {
          font-size: 11px;
          padding: 2px 8px;
          line-height: 18px;
      }
      .btn-xs:hover{
          color:#fff !important;
      }

      .file_name{
          margin-left: 5px;
          max-width: 100px;
          word-break: break-all;
          z-index: 1;
          color: #FFFFFF;
          font-size: 10px;
      }


      .card-title {
          font-family: Roboto,sans-serif;
          font-weight: 300;
          line-height: 1.5;
          margin-bottom: 0;
          padding: 15px 20px;
          border-bottom: 1px solid rgba(77,82,89,0.07);
      }
      .error-msg{
        color: #FFFFFF;
        font-size: 24px;
        font-weight: bold;
      }
      .ps-container {
          position: relative;
      }

      .ps-container {
          -ms-touch-action: auto;
          touch-action: auto;
          overflow: hidden!important;
          -ms-overflow-style: none;
      }

      .media-chat {
          padding-right: 64px;
          margin-bottom: 0;
          display: flex;
          align-items: flex-start;
      }

      .media .avatar {
          flex-shrink: 0;
      }
      .media-chat-reverse .media-body .msg:before {
          right: -13px;
          left: unset!important;
          border-left: 13px solid #66ff66;
          border-right: unset!important;
      }
      .media-chat .media-body .msg:before {
          content:"";
          position: absolute;
          width: 0;
          height: 0;
          border-top: 2px solid transparent;
          border-bottom: 8px solid transparent;
          left: -13px;
          border-right: 13px solid #FFFFFF;
          top: 5px;
      }
      .avatar {
          position: relative;
          display: inline-block;
          width: 36px;
          height: 36px;
          line-height: 36px;
          text-align: center;
          color: #8b95a5;
          text-transform: uppercase;
      }
      time{
          font-size: 9px;
      }
      .media-chat .media-body {
          -webkit-box-flex: initial;
          flex: initial;
          display: flex;
          flex-float: wrap-reverse;
          align-items: center;
      }
      .media-chat .media-body .msg{
          font-size: 12px;
          word-break: break-all;
      }
      .media-chat-reverse .media-body .msg{
          margin-right: 16px!important;
          margin-left: 0px!important;
      }
      .media-chat .media-body .msg{
          margin-left: 13px;
          margin-right: 0px;
      }
      .media-chat-reverse .media-body .msg{
          margin-right: 0px;
          margin-left: 13px;
      }
      .media-chat-reverse .media-body{
          margin-right: 0px;
          flex-flow: row-reverse;
      }
      .media-body {
          overflow: unset;
          position: relative;
          width: fit-content;
          min-width: 0;
      }

      .media-chat .media-body p {
          position: relative;
          padding: 6px 8px;
          margin: 4px 0;
          background-color: #f5f6f7;
          border-radius: 3px;
          font-weight: 100;
          color:#000000;
      }

      .media>* {
          margin: 0 8px;
      }

      .media-chat .media-body p.meta {
          width: 50px;
          min-width: 50px;
          text-align: center;
          margin-left: 5px;
          background-color: transparent !important;
          padding: 0;
          opacity: .8;
          font-size: 9px;
          color: #FFFFFF;
      }

      .media-chat-reverse .media-body p.meta {
          margin-right: 5px;
      }
      .media-meta-day {
          display: flex;
          -webkit-box-pack: justify;
          justify-content: space-between;
          -webkit-box-align: center;
          align-items: center;
          margin-bottom: 0;
          color: #8b95a5;
          opacity: .8;
          font-weight: 400;
      }

      .media-meta-day::before {
          margin-right: 16px;
      }
      .custom-height{
          height: 60%!important;
          top: 20%!important;
      }
      .media-meta-day::before, .media-meta-day::after {
          content: '';
          -webkit-box-flex: 1;
          flex: 1 1;
          border-top: 1px solid #ebebeb;
      }

      .media-meta-day::after {
          content: '';
          -webkit-box-flex: 1;
          flex: 1 1;
          border-top: 1px solid #ebebeb;
      }

      .media-meta-day::after {
          margin-left: 16px;
      }

      .media-chat.media-chat-reverse {
          padding-right: 5px;
          padding-left: 64px;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: reverse;
          flex-direction: row-reverse;
      }

      .media-chat {
          align-items: center;
          padding-right: 64px;
          margin-bottom: 0;
      }
      .media {
          margin:0;
          padding: 5px 12px;
          -webkit-transition: background-color .2s linear;
          transition: background-color .2s linear;
      }

      .media-chat.media-chat-reverse .media-body p {
          float: right;
          clear: right;
          background-color: #66FF66;
      }

      .media-chat .media-body p {
          position: relative;
          padding: 6px 8px;
          margin: 4px 0;
          background-color: #ffffff;
          border-radius: 3px;
      }


      .border-light {
          border-color: #f1f2f3 !important;
      }

      .bt-1 {
          border-top: 1px solid #ebebeb !important;
      }

      .publisher {
          position: relative;
          display: flex;
          -webkit-box-align: center;
          align-items: center;
          padding: 5px 5px 0px 5px;
          background-color: #4d4d4d;
          color: #FFFFFF;
      }
      .bt-2{
          padding-top: 5px;
          padding-bottom: 5px;
          padding-left:5px;
      }
      .publisher>*:first-child {
          margin-left: 0;
      }

      .publisher-input::placeholder {
          color: #FFFFFF;
      }
      .publisher-input {
          height: 48px;
          font-size: 14px;
          color: #ffffff;
          -webkit-box-flex: 1;
          flex-grow: 1;
          border: none;
          outline: none !important;
          background-color: transparent;
      }

      button, input, optgroup, select, textarea {
          font-family: Roboto,sans-serif;
          font-weight: 300;
      }

      .publisher-btn {
          background-color: transparent;
          border: none;
          color: #8b95a5;
          font-size: 16px;
          cursor: pointer;
          -webkit-transition: .2s linear;
          transition: .2s linear;
      }

      .file-group {
          position: relative;
          overflow: hidden;
      }

      .publisher-btn {
          background-color: transparent;
          border: none;
          color: #cac7c7;
          font-size: 16px;
          cursor: pointer;
          -webkit-transition: .2s linear;
          transition: .2s linear;
      }

      .file-group input[type="file"] {
          position: absolute;
          opacity: 0;
          z-index: -1;
          width: 20px;
      }
      .form-group{
          margin-bottom: 0;
      }
      .text-info {
          color: #48b0f7 !important;
      }
      .conver-name{
          background: #000000;
          color: #FFFFFF;
          padding: 15px;
      }
      .media-chat .ident{
          color: #FFFFFF;
          text-align: center;
          font-size: 10px;
          display: grid;
      }
      .media-body .open_popup_des,.open_popup_self{
          cursor: pointer;
      }
      .layer-popup{
          width: 100%;
          height: 100%;
          background: #4d4d4d8c;
          position: absolute;
          top: 0;
          z-index: 2;
          left: 0;
      }
      .layer-popup .popup-body{
          position: relative;
          width: 60%;
          margin: 0 auto;
          height: 30%;
          top: 30%;
          background: #666666;
          border: 1px solid #000;
      }
      .layer-popup .popup-body img{
          max-height: 100%;
          min-width: 100%;
          object-fit: contain;
          vertical-align: bottom;
      }
      .layer-popup .popup-body .fa{
          z-index: 1;
          color: #fff;
          font-size: 25px;
          position: absolute;
          right: 0;
          cursor: pointer;
          top: -30px;
      }
      .layer-popup .popup-body .content{
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 15px;
      }
      .d-none{
          display: none;
      }
      .has_been_deleted{
          color: #CCCCCC;
          filter:opacity(0.7);
      }
      .popup-action{
          width: 120px;
          height: 80px;
          font-size:12px;
          position: absolute;
          background: #fff;
          color: #000;
          list-style-type: none;
          text-align: center;
          padding: 5px;
      }
      .open_popup_des .popup-action{
          top: 6px;
          right: 0;
      }
      .open_popup_self .popup-action{
          top: 6px;
          left: 0;
      }
      .no-bor{
          border-radius: 0px !important;
      }
      .publisher-button{
          margin-left: 10px;
          background: #66B2FF;
          border-radius: 0px;
      }
  </style>
{% endblock stylesheet %}
{% block main %}
  <div class="ec-layoutRole__main">
    <div class="ec-mypageRole">
      <div class="ec-pageHeader">
        <h1 style="margin-bottom: 0;">{{ 'front.mypage.title'|trans }}/{{ 'front.mypage.nav__messenger'|trans }}</h1>
      </div>
    </div>
    <div class="ec-mypageRole">
      <div class="page-content page-container" id="page-content">
        <div class="">
          <div class="card card-bordered">
            <div class="card-header">
              <div class="form-group">
                <select class="form-control no-bor" id="sel1">
                  <option selected="true" disabled="disabled">（区分選択）</option>
                  <option value="0">現場</option>
                  <option value="1">会員</option>
                </select>
              </div>
              <div class="form-group">
                <select class="form-control no-bor" id="sel2" disabled>
                  <option selected="true" disabled="disabled">（対象選択）</option>
                </select>
              </div>
            </div>
            <div class="card-body conver-name text-center">
              <p id="recei-name">（対象名称）</p>
            </div>
            <div class="bg-ovlay ps-container ps-theme-default ps-active-y" id="chat-content" style="background: #4D4D4D;overflow-y: scroll !important; height:calc(100vh - 325px) !important;"></div>

            <div class="publisher bt-1 border-light">
              <textarea class="publisher-input" disabled type="text" placeholder="メッセージを入力"></textarea>
              <input class="id-room" type="hidden">
              <input class="page-num" value="0" type="hidden">
            </div>
            <div class="publisher bt-2 border-light">
              <span class="publisher-btn file-group">
                <img style="width: 30px;" src="{{ asset('assets/img/common/clip.png') }}" alt="...">
                <input type="file" class="file-upload" disabled>
              </span>
              <button class="btn btn-primary publisher-button" disabled>送信</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="layer-popup d-none">
      <div class="popup-body">
        <i class="fa fa-times" id="off-popup"></i>
        <div class="content"></div>
      </div>
  </div>
{% endblock %}
{% block javascript %}
  <script type="text/javascript">
      var listen_mess;

      function updateScroll(){
          var element = document.getElementById("chat-content");
          element.scrollTop = element.scrollHeight;
      }
      $('#sel1').change(function(){
        if (listen_mess){
            clearInterval(listen_mess);
        }
        var data = {
            data :$(this).val()
            };
        $.ajax({
            url: '{{ url('mypage_messenger_getinfo') }}',
            type: 'POST',
            data: data
        }).always(function(data) {
            let arr = ['<option selected="true" disabled="disabled">（対象選択）</option>'];
            if (data.hasOwnProperty('customer') && data.customer.length > 0){
                data.customer.forEach(function(v) {
                  arr.push('<option value="'+v.id+'">'+v.name01+'&nbsp;'+v.name02+'</option>')
                })
                $('#sel2').removeAttr('disabled');
            }else if(data.hasOwnProperty('site_info') && data.site_info.length > 0){
                data.site_info.forEach(function(v) {
                  arr.push('<option value="'+v.id+'">'+v.site_name+'</option>')
                })
                $('#sel2').removeAttr('disabled');
            }
            $('#sel2').html(arr);
        });
      })
      $('#sel2').change(function(){
        if (listen_mess){
          clearInterval(listen_mess);
        }
        $('.page-num').val(0);
        var text = $(this).find(":selected").text();
        $('#recei-name').html(text);
        var data = {
            type:$('#sel1').val(),
            id:$(this).val(),
            id_page:$('.page-num').val(),
         }
        $.ajax({
            url: '{{ url('mypage_messenger_getListMessenger') }}',
            type: 'POST',
            data: data
        }).always(function(data) {
            if (data.success){
                $('#chat-content').html(data.html);
                $('.id-room').val(data.id_room);
                $('input,textarea').removeAttr('disabled');

                updateScroll();
                listen_mess = setInterval(function (){
                    listenMess();
                },1000)
            }
        });
      })
      $('.file-upload').change(function (e){
          if($(this).val().length > 0){
              $('.publisher-button').removeAttr('disabled');
          }else{
              $('.publisher-button').prop('disabled',true);
          }
      });
      $('.publisher-input').keyup(function(e){
          if ($.trim($(this).val()).length > 3){
              $('.publisher-button').removeAttr('disabled');
          }else{
              $('.publisher-button').prop('disabled',true);
          }
          if(e.keyCode == 13) {
            var mess = $.trim($(this).val());
            sendMess(mess)
          }
      });
      $('.publisher-button').click(function(e){
          var mess = $.trim($('.publisher-input').val());
          sendMess(mess)
      });
      $('.file-group img').click(function (){
          $('.file-upload').click();
      })
      function sendMess(val){
          var inputFile = $('.file-upload');
          var file = inputFile[0].files[0];
          if (val !== '' || file !== undefined){
              $('.publisher-button').prop('disabled',true);
              var data = new FormData();
              if (file !== undefined){
                  data.append('file', file, file.name);
              }
              data.append('mess', val);
              data.append('recei', $('#sel2').val());
              data.append('type', $('#sel1').val());
              data.append('id_room', $('.id-room').val());
              $.ajax({
                  url: '{{ url('mypage_messenger_send') }}',
                  type: 'POST',
                  data: data,
                  processData: false,
                  contentType: false,
              }).always(function(data) {
                  if (data.success){
                      var today = new Date();
                      var yyyy = today.getFullYear();
                      var dd = String(today.getDate()).padStart(2, '0');
                      var mm = String(today.getMonth() + 1).padStart(2, '0');
                      var H = today.getHours();
                      var i = today.getMinutes();
                      var html = '';
                      if (val !== ''){
                          html += '<div class="media media-chat media-chat-reverse">'+
                              '<div class="media-body">'+
                              '<p class="msg">'+val+'</p>'+
                              '<p class="meta"><time>'+yyyy+'-'+mm+'-'+dd+' '+H+':'+i+'</time></p>'+
                              '</div>'+
                              '</div>';
                      }
                      if (file !== undefined){
                          html += '<div class="media media-chat media-chat-reverse">'+
                                  '<div class="media-body">'+
                                  '<span class="file_name open_popup_self text-center">'+data.file_name+
                                      '<ul class="popup-action d-none">'+
                                          '<li class="act-delete" data-id="'+data.file_id+'">削除</li>'+
                                      '</ul>'+
                                  '</span>'+
                                  '<img class="avatar open_popup_self" src="{{ asset('assets/img/common/file.png') }}" alt="...">'+
                                  '<p class="meta"><time>'+yyyy+'-'+mm+'-'+dd+' '+H+':'+i+'</time></p>'+
                                  '</div>'+
                                '</div>';
                      }
                      $('#chat-content').append(html)
                      updateScroll();
                  }else{
                      $('.layer-popup').show();
                      $('.layer-popup .popup-body .content').html('<p class="error-msg">'+data.message+'</p>');
                  }
                  $('.publisher-input').val('');
                  $('.file-upload').val('');
              });
          }
      }

      function listenMess(){
          var data = {
              type:$('#sel1').val(),
              id:$('#sel2').val(),
              id_room:$('.id-room').val(),
              id_page:$('.page-num').val(),
          }
          $.ajax({
              url: '{{ url('mypage_messenger_getListMessenger') }}',
              type: 'POST',
              data: data
          }).always(function(respone) {
              if (respone.success){
                  if (respone.html){
                      if(data.id_page == 0){
                        $('#chat-content').html(respone.html);
                        updateScroll();
                      }else{
                          $('#chat-content').prepend(respone.html);
                      }
                  }
              }
          });
      }
      $('#chat-content').on('click',function (e){
          if ($(e.target).is(".open_popup_des") !== false || $(e.target).is(".open_popup_self") !== false || $(e.target).is(".act-download") !== false || $(e.target).is(".act-delete") !== false || $(e.target).is(".act-preview") !== false){

          }else{
              $('.popup-action').hide();
          }
      });

      $('#chat-content').on('click','.open_popup_des',function (e){
          $('.popup-action').hide();
          if ($(e.target).is("img") === true){
              $(this).next('.file_name').find('.popup-action').show();
          }else{
              $(this).find('.popup-action').show();
          }
      });
      $('#chat-content').on('click','.open_popup_self',function (e){
          $('.popup-action').hide();
          if ($(e.target).is("img") === true){
              $(this).prev('.file_name').find('.popup-action').show();
          }else if ($(e.target).is(".file_name") === true){
              $(this).find('.popup-action').show();
          }
      });
      // preview action
      $('#chat-content').on('click','.act-preview', function(e) {
          var that = $(this);
          var id_mess = $(this).attr('data-id');
          var data = {
              id_mess:id_mess
          }
          $.ajax({
              url: '{{ url('mypage_messenger_previewFile') }}',
              type: 'POST',
              data: data
          }).always(function(data) {
              if (data.success){
                  $('.layer-popup .popup-body').addClass('custom-height');
              }else{
                  $('.layer-popup .popup-body').removeClass('custom-height');
              }
              $('.popup-action').hide();
              $('.layer-popup .popup-body .content').html(data.html);
              $('.layer-popup').show();
          });
      });
      // download action
      $('#chat-content').on('click','.act-download', function(e) {
          var that = $(this);
          var id_mess = $(this).attr('data-id');
          var data = {
              id_mess:id_mess
          }
          $.ajax({
              url: '{{ url('mypage_messenger_downloadFile') }}',
              type: 'POST',
              data: data
          }).always(function(data) {
              $('.popup-action').hide();
              if (data.success === false){
                  $('.layer-popup .popup-body .content').html(data.html);
                  $('.layer-popup .popup-body').removeClass('custom-height');
                  $('.layer-popup').show();
              }else{
                  let a = document.createElement('a');
                  a.href = data.src;
                  a.download = data.file_name;
                  document.body.append(a);
                  a.click();
                  a.remove();
              }
          });
      });
      // delete action
      $('#chat-content').on('click','.act-delete', function(e) {
          var that = $(this);
          var id_mess = $(this).attr('data-id');
          var data = {
              id_mess:id_mess
          }
          $.ajax({
              url: '{{ url('mypage_messenger_deleteFile') }}',
              type: 'POST',
              data: data
          }).always(function(data) {
              if (data.success){
                  that.parents('.media-body').addClass('has_been_deleted');
                  that.parents('ul').remove();
              }
          });
      });

      $('.layer-popup').on('click', function(e) {
          if ($(e.target).is("#off-popup") === true || ($(e.target).is("img") === false && $(e.target).is("p") === false && $(e.target).is(".content") === false) ){
              $('.layer-popup').hide();
              $('.layer-popup .popup-body .content').html('');
          }
      });
      $('#chat-content').scroll(function(){
          if( $(this).scrollTop() == 0 ){
            cur_page = 1 + parseInt($('.page-num').val());
            $('.page-num').val(cur_page);
          }
      });
  </script>
{% endblock javascript %}
